@model LynxTestApp.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Users List</h2>

<div class=" container">
    <div class=" form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="Search" placeholder="Search" class="form-control" />
        </div>
    </div>
</div>

<div id="tableDiv"></div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Custom_Scripts/SearchUser.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
}
